@import "tailwindcss";
/* Variables CSS */
:root {
  --random-text-color: #9e0059;
  --title-primary-color: #89023E;
  --title-secondary-color: #E15A97;
  --bg-color: #FF8FAB;
  --bg-secondary-color: #FFC8DD;
  --white-text-color: #fff5f8;
  --initial-navbar-color: #FFC2D1;
  --scrolled-navbar-color: #FFE5EC;
}

/* Backgrounds */
.bg-initial {
  background-color: var(--bg-color);
}

.bg-second-color {
  background-color: var(--bg-secondary-color);
}

/* Textes */
.text-random {
  color: var(--random-text-color);
}

.text-title-primary {
  color: var(--title-primary-color);
}

.text-title-secondary {
  color: var(--title-secondary-color);
}

.text-white-var {
  color: var(--white-text-color);
}

/* Navbar */
.bg-navbar-initial {
  background-color: var(--initial-navbar-color);
}

.bg-navbar-scrolled {
  background-color: var(--scrolled-navbar-color);
}
