@import "tailwindcss";
/* Variables CSS */
:root {
  --title-primary-color: #89023E;
  --title-secondary-color: #9e0059;

  --text-primary-color: #e05780;
  --text-secondary-color: #fff5f8;

  --bg-color: #FFE5EC;
  --bg-secondary-color: #FFC8DD;
  --bg-third-color: #ff99b3;
  --bg-fourth-color: #FFE5EC;
  --initial-navbar-color: #FFC2D1;
  
}

/* Backgrounds */
.bg-initial {
  background-color: var(--bg-color);
}

.bg-second-color {
  background-color: var(--bg-secondary-color);
}

.bg-third-color {
  background-color: var(--bg-third-color);
}

.bg-fourth-color {
  background-color: var(--bg-fourth-color);
}

/* Title */
.title-primary {
  color: var(--title-primary-color);
}

.title-secondary {
  color: var(--title-secondary-color);
}

/* Text */
.text-primary {
  color: var(--text-primary-color);
}

.text-secondary {
  color: var(--text-secondary-color);
}

/* Navbar */
.bg-navbar-initial {
  background-color: var(--initial-navbar-color);
}

/* embla Carousel Styles */
.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

/* embla Carousel Styles */
.review {
  max-width: 95vw;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 45%;
}

.review__viewport {
  overflow: hidden;
}

.review__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.review__slide {
  flex: 0 0 100%;
  max-width: 25vw;
  padding-left: var(--slide-spacing);

}

.review__slide__number {
  background-color: var(--bg-third-color);
  border: 0.2rem solid var(--bg-third-color);
  border-radius: 1.8rem;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}